extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'school-days'
  - var interviewsId = 'THEIMPORTANCE'
  - var videoId = 'Frank-Brown'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
