extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'ASHARED'
  - var videoId = 'Hurstine-Watts'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
