extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'school-days'
  - var interviewsId = 'MEMORABLE'
  - var videoId = 'Hurstine-Watts'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
