extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'THESAWMILLS'
  - var videoId = 'Willie-L-Jones'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
