extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'school-days'
  - var interviewsId = 'COUNTRYSCHOOLS'

block content

  include ../../includes/menu-school-days

  +linkToVideoPicTile('Bertille-Carmichael', '2')
  +linkToVideoPicTile('Rev-WL-Johnson', '3')
  +linkToVideoPicTile('Ariedell-Jones', '4')
  +linkToVideoPicTile('Hercules-A-Jones', '5')
  +linkToVideoPicTile('Selena-O-Jones', '6')
  +linkToVideoPicTile('Willie-L-Jones', '7')
  +linkToVideoPicTile('Lucille-Williams', '8')

  +interviewsMenuImg()

  +returnToMain()
