extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'school-days'
  - var interviewsId = 'HOLYCHILD'

block content

  include ../../includes/menu-school-days

  +linkToVideoPicTile('Selena-O-Jones', '6')
  +linkToVideoPicTile('Girtie-M-Saddler', '7')
  +linkToVideoPicTile('Flonzie-Brown-Wright', '8')

  +interviewsMenuImg()

  +returnToMain()
