extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'school-days'
  - var interviewsId = 'MEMORABLE'

block content

  include ../../includes/menu-school-days

  +linkToVideoPicTile('Girtie-M-Saddler', '4')
  +linkToVideoPicTile('Oleta-G-Fitzgerald', '5')
  +linkToVideoPicTile('Hurstine-Watts', '6')
  +linkToVideoPicTile('Clarice-Coney', '7')
  +linkToVideoPicTile('Jewel-Williams', '8')

  +interviewsMenuImg()

  +returnToMain()
