extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'school-days'
  - var interviewsId = 'SCHOOLINT'

block content

  include ../../includes/menu-school-days

  +linkToVideoPicTile('Rims-Barber', '1')
  +linkToVideoPicTile('Mary-Smith-Blackmon', '2')
  +linkToVideoPicTile('James-Cheeks', '3')
  +linkToVideoPicTile('Phil-George', '4')
  +linkToVideoPicTile('Betty-Robinson', '5')
  +linkToVideoPicTile('Sam-Whisenton', '6')
  +linkToVideoPicTile('Ed-Blackmon', '7')
  +linkToVideoPicTile('John-R-Graham', '8')

  +interviewsMenuImg()

  +returnToMain()
