extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'school-days'
  - var interviewsId = 'SEPARATE'

block content

  include ../../includes/menu-school-days

  +linkToVideoPicTile('Wilbert-Robinson', '1')
  +linkToVideoPicTile('Ariedell-Jones', '2')
  +linkToVideoPicTile('Charlie-Purnell', '3')
  +linkToVideoPicTile('Sara-Singleton', '4')
  +linkToVideoPicTile('Flonzie-Brown-Wright', '5')
  +linkToVideoPicTile('Rev-WL-Johnson', '6')
  +linkToVideoPicTile('Willie-L-Jones', '7')
  +linkToVideoPicTile('Ed-Blackmon', '8')

  +interviewsMenuImg()

  +returnToMain()
