extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'school-days'
  - var interviewsId = 'THEIMPORTANCE'

block content

  include ../../includes/menu-school-days

  +linkToVideoPicTile('Karl-Banks', '2')
  +linkToVideoPicTile('Frank-Brown', '3')
  +linkToVideoPicTile('Clarice-Coney', '4')
  +linkToVideoPicTile('Phil-George', '5')
  +linkToVideoPicTile('James-Jones-Jr', '6')
  +linkToVideoPicTile('Willie-L-Jones', '7')
  +linkToVideoPicTile('Jewel-Williams', '8')

  +interviewsMenuImg()

  +returnToMain()
