extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'business-success'
  - var interviewsId = 'BLACKPROF'
  - var videoId = 'Karl-Banks'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
