extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'LOCALHEROES'
  - var videoId = 'Many-Helpers'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
