extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'school-days'
  - var interviewsId = 'SCHOOLINT'
  - var videoId = 'Rims-Barber'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
