extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'HOME'
  - var videoId = 'Jewel-Williams'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
