extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'RACERELATIONS'
  - var videoId = 'Arthur-J-Tate-Sr'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
