extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'RACERELATIONS'
  - var videoId = 'Frank-Williams-Jr'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
