extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'business-success'
  - var interviewsId = 'MAKINGALIVING'
  - var videoId = 'George-Washington'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
