extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'HARDWORK'
  - var videoId = 'Oleta-G-Fitzgerald'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
