extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'business-success'
  - var interviewsId = 'LONGHOURS'
  - var videoId = 'JL-McCullough'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
