extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'business-success'
  - var interviewsId = 'LONGHOURS'
  - var videoId = 'Kathleen-Mackey'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
