extends ../layouts/_layout

block vars
  - var assetPath = ''
  - var sectionId = "home"

block content

  +link('tapestry-of-cultures/index.html', 'btn-tapestry')
  +link('proud-black-heritage/index.html', 'btn-heritage')

  +linkPicTile('early-struggles/index.html', '1')
  +linkPicTile('agriculture-yields/index.html', '2')
  +linkPicTile('business-success/index.html', '3')
  +linkPicTile('school-days/index.html', '4')
  +linkPicTile('freedom-triumphs/index.html', '5')
  +linkPicTile('voting-victories/index.html', '6')
  +linkPicTile('community-spirit/index.html', '7')
  +linkPicTile('family-ties/index.html', '8')

  +link('credits/index.html', 'btn-credits')
