extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'THECIRCUIT'
  - var videoId = 'James-Cheeks'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
