#interviewTitle.interview-title-img
  img(src=assetPath + 'assets/img/' + sectionId + '/names/' + videoId + '.jpg', width='245', height='83')

#interviewVideo.interview-video
  embed(autostart='true', src=assetPath + 'assets/vid/' + sectionId + '/' + interviewsId + '/' + videoId + '.mov', type='video/quicktime', width='320', height='256')

+selectAnotherInterview()

+returnToMain()
