+linkToInterviews(sectionId, 'THEHOLLOW', '1')
+linkToInterviews(sectionId, 'BLACKPROF', '2')
+linkToInterviews(sectionId, 'TEACHING', '3')
+linkToInterviews(sectionId, 'BLACKOWNED', '4')
+linkToInterviews(sectionId, 'MAKINGALIVING', '5')
+linkToInterviews(sectionId, 'LONGHOURS', '6')