+linkToInterviews(sectionId, 'CHURCH', '1')
+linkToInterviews(sectionId, 'CIVICLIFE', '2')
+linkToInterviews(sectionId, 'RACERELATIONS', '3')
+linkToInterviews(sectionId, 'ROLEMODELS', '4')
+linkToInterviews(sectionId, 'HOPES', '5')