+linkToInterviews(sectionId, 'THEDAYSOF', '1')
+linkToInterviews(sectionId, 'THEMADISON', '2')
+linkToInterviews(sectionId, 'VIOLENCE', '3')
+linkToInterviews(sectionId, 'THENIGHTOF', '4')
+linkToInterviews(sectionId, 'LOCALHEROES', '5')
+linkToInterviews(sectionId, 'ANEWDAY', '6')