+linkToInterviews(sectionId, 'THEIMPORTANCE', '1')
+linkToInterviews(sectionId, 'COUNTRYSCHOOLS', '2')
+linkToInterviews(sectionId, 'MEMORABLE', '3')
+linkToInterviews(sectionId, 'HOLYCHILD', '4')
+linkToInterviews(sectionId, 'SEPARATE', '5')
+linkToInterviews(sectionId, 'SCHOOLINT', '6')