+linkToInterviews(sectionId, 'SHARECROPPING', '1')
+linkToInterviews(sectionId, 'HARDWORK', '2')
+linkToInterviews(sectionId, 'GOODFOOD', '3')
+linkToInterviews(sectionId, 'OWNINGLAND', '4')
+linkToInterviews(sectionId, 'THESAWMILLS', '5')
+linkToInterviews(sectionId, 'THEFAIRGROUNDS', '6')