+linkToInterviews(sectionId, 'VOTERREG', '1')
+linkToInterviews(sectionId, 'THECIRCUIT', '2')
+linkToInterviews(sectionId, 'INTIMIDATION', '3')
+linkToInterviews(sectionId, 'ELECTED', '4')
+linkToInterviews(sectionId, 'POLITICAL', '5')