+linkToInterviews(sectionId, 'ASHARED', '1')
+linkToInterviews(sectionId, 'PARENTAL', '2')
+linkToInterviews(sectionId, 'FAMILYTRAD', '3')
+linkToInterviews(sectionId, 'FAMILYRULES', '4')
+linkToInterviews(sectionId, 'FAMILYSTORIES', '5')
+linkToInterviews(sectionId, 'HOME', '6')