//- return to main
mixin returnToMain()
  a.btn.btn-return-to-main(href=assetPath + 'index.html')

//- create plain ol' link
mixin link(href, className)
  a(class='btn ' + className, href=href)

//- create link with border for positioning
mixin linkFPO(href, className)
  a(class='btn fpo ' + className, href=href)

//- create pic tile button link
mixin linkPicTile(href, position)
  a(class='btn btn-pic-tile btn-pos-' + position, href=href)

//- include interviews menu image
mixin interviewsMenuImg()
  img.interviews-menu(src='../assets/img/' + sectionId + '/' + interviewsId + '_MENU.jpg', width='640', height='240')

//- create pic tile button link for interview videos
mixin linkToVideoPicTile(id, position)
  a(id=id, class='btn btn-pic-tile btn-pic-tile-video btn-pos-' + position, href=interviewsId + '/' + id + '.html')

//- create link to interview section
mixin linkToInterviews(dir, href, position)
  if (href === interviewsId)
    - var btnImgFull = 'SEL_' + href
  else
    - var btnImgFull = 'B_' + href
  a(class='btn btn-interview btn-pos-' + position, href=href + '.html')
    img(src='../assets/img/' + dir + '/' + btnImgFull + '.jpg', width='150', height='44')

//- select another interview link
mixin selectAnotherInterview()
  a#selectAnother.btn.btn-select-another(href='../../' + sectionId + '/' + interviewsId + '.html')
    img(src='../../assets/img/B_SELECTANOTHER.jpg', width='150', height='60')

//- embed intro video
mixin embedIntroVideo(vidPath)
  .video-wrapper__intro
    embed(autostart='true', src='../assets/vid/' + vidPath, type='video/quicktime', width='320', height='256')