extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'business-success'
  - var interviewsId = 'BLACKOWNED'

block content

  include ../../includes/menu-business-success

  +linkToVideoPicTile('Socrates-Garrett', '2')
  +linkToVideoPicTile('Lillian-Glover', '3')
  +linkToVideoPicTile('Bertha-Jones', '4')
  +linkToVideoPicTile('Hercules-A-Jones', '5')
  +linkToVideoPicTile('Ruth-Prichard', '6')
  +linkToVideoPicTile('Sara-Singleton', '7')
  +linkToVideoPicTile('Arthur-J-Tate-Jr', '8')

  +interviewsMenuImg()

  +returnToMain()
