extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'business-success'
  - var interviewsId = 'BLACKPROF'

block content

  include ../../includes/menu-business-success

  +linkToVideoPicTile('Newton-A-Handy-III', '3')
  +linkToVideoPicTile('Bertille-Carmichael', '4')
  +linkToVideoPicTile('Karl-Banks', '5')
  +linkToVideoPicTile('Rev-WL-Johnson', '6')
  +linkToVideoPicTile('James-H-Lacey-Jr', '7')
  +linkToVideoPicTile('Sam-Whisenton', '8')

  +interviewsMenuImg()

  +returnToMain()
