extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'business-success'
  - var interviewsId = 'LONGHOURS'

block content

  include ../../includes/menu-business-success

  +linkToVideoPicTile('Jewel-Williams', '4')
  +linkToVideoPicTile('George-Washington', '5')
  +linkToVideoPicTile('JL-McCullough', '6')
  +linkToVideoPicTile('Kathleen-Mackey', '7')
  +linkToVideoPicTile('Rims-Barber', '8')

  +interviewsMenuImg()

  +returnToMain()
