extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'business-success'
  - var interviewsId = 'MAKINGALIVING'

block content

  include ../../includes/menu-business-success

  +linkToVideoPicTile('Frank-Brown', '2')
  +linkToVideoPicTile('Clarice-Coney', '3')
  +linkToVideoPicTile('Newton-A-Handy-III', '4')
  +linkToVideoPicTile('Ella-W-Johnson', '5')
  +linkToVideoPicTile('Selena-O-Jones', '6')
  +linkToVideoPicTile('Willie-L-Jones', '7')
  +linkToVideoPicTile('George-Washington', '8')

  +interviewsMenuImg()

  +returnToMain()
