extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'business-success'
  - var interviewsId = 'TEACHING'

block content

  include ../../includes/menu-business-success

  +linkToVideoPicTile('Clarice-Coney', '1')
  +linkToVideoPicTile('Sam-Whisenton', '2')
  +linkToVideoPicTile('Lucille-Williams', '3')
  +linkToVideoPicTile('Hercules-A-Jones', '4')
  +linkToVideoPicTile('James-Jones-Jr', '5')
  +linkToVideoPicTile('Leonell-Ellis', '6')
  +linkToVideoPicTile('Ariedell-Jones', '7')
  +linkToVideoPicTile('Alice-M-Scott', '8')

  +interviewsMenuImg()

  +returnToMain()
