extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'business-success'
  - var interviewsId = 'THEHOLLOW'

block content

  include ../../includes/menu-business-success

  +linkToVideoPicTile('Leonell-Ellis', '1')
  +linkToVideoPicTile('Newton-A-Handy-III', '2')
  +linkToVideoPicTile('Luther-C-Jones', '3')
  +linkToVideoPicTile('Rev-WL-Johnson', '4')
  +linkToVideoPicTile('James-H-Lacey-Jr', '5')
  +linkToVideoPicTile('Sam-Whisenton', '6')
  +linkToVideoPicTile('Oleta-G-Fitzgerald', '7')
  +linkToVideoPicTile('Willie-L-Jones', '8')

  +interviewsMenuImg()

  +returnToMain()
