extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'INTIMIDATION'
  - var videoId = 'Jewel-Williams'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
