extends ../../layouts/_layout

block vars
  -var assetPath = '../'
  - var sectionId = "intro-video"

block content
  
  img.vid-title(src="../assets/img/main/HERITAGE_TITLE.jpg")

  +embedIntroVideo('intro/A-Proud-Black-Heritage.mov')

  include ../../includes/link-return-to-main
