extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'HOPES'
  - var videoId = 'Sam-Whisenton'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
