extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'CHURCH'
  - var videoId = 'Ella-W-Johnson'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
