extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'CHURCH'
  - var videoId = 'Selena-O-Jones'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
