extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'THENIGHTOF'
  - var videoId = 'Night-of-the-Tear-Gas'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
