extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'early-struggles'
  - var interviewsId = 'TIESTOSLAVERY'
  - var videoId = 'Phil-George'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
