extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'school-days'
  - var interviewsId = 'SEPARATE'
  - var videoId = 'Flonzie-Brown-Wright'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
