extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'school-days'
  - var interviewsId = 'SEPARATE'
  - var videoId = 'Wilbert-Robinson'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
