extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'OWNINGLAND'
  - var videoId = 'JL-McCullough'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
