extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'early-struggles'
  - var interviewsId = 'KEEPINGTHEFAITH'

block content

  include ../../includes/menu-early-struggles

  +linkToVideoPicTile('Leonell-Ellis', '6')
  +linkToVideoPicTile('Flonzie-Brown-Wright', '7')
  +linkToVideoPicTile('Rev-WL-Johnson', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
