extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'early-struggles'
  - var interviewsId = 'MADISONCOUNTY'

block content

  include ../../includes/menu-early-struggles

  +linkToVideoPicTile('Karl-Banks', '4')
  +linkToVideoPicTile('Oleta-G-Fitzgerald', '5')
  +linkToVideoPicTile('Pearl-Nichols', '6')
  +linkToVideoPicTile('Frank-Williams-Jr', '7')
  +linkToVideoPicTile('Lucille-Williams', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
