extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'early-struggles'
  - var interviewsId = 'TIESTOSLAVERY'

block content

  include ../../includes/menu-early-struggles

  +linkToVideoPicTile('Karl-Banks', '2')
  +linkToVideoPicTile('Leonell-Ellis', '3')
  +linkToVideoPicTile('Phil-George', '4')
  +linkToVideoPicTile('Kathleen-Mackey', '5')
  +linkToVideoPicTile('Arthur-J-Tate-Sr', '6')
  +linkToVideoPicTile('JL-McCullough', '7')
  +linkToVideoPicTile('Ed-Blackmon', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
