extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'POLITICAL'
  - var videoId = 'Betty-Robinson'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
