extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = "credits"

block content

  #credits.credits-wrapper
    a(href="../index.html")
      img(src=assetPath + "assets/img/Credits.jpg", alt="Credits", width="640", height="1600")

  script.
    function scrollCredits() {
      if ( document.getElementById('credits').scrollTop < ( document.getElementById('credits').scrollHeight - document.getElementById('credits').offsetHeight ) ) {
        document.getElementById('credits').scrollTop = document.getElementById('credits').scrollTop + 1;
      } else {
        document.getElementById('credits').scrollTop = 0;
      }
    }
    setInterval(scrollCredits, 50)