extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'school-days'
  - var interviewsId = 'COUNTRYSCHOOLS'
  - var videoId = 'Ariedell-Jones'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
