extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'FAMILYTRAD'
  - var videoId = 'Girtie-M-Saddler'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
