extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'VIOLENCE'
  - var videoId = 'Jewel-Williams'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
