extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'THEDAYSOF'
  - var videoId = 'Frank-Brown'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
