extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'GOODFOOD'
  - var videoId = 'James-Jones-Jr'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
