extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'business-success'
  - var interviewsId = 'BLACKOWNED'
  - var videoId = 'Bertha-Jones'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
