extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'CHURCH'

block content

  include ../../includes/menu-community-spirit

  +linkToVideoPicTile('Frank-Brown', '1')
  +linkToVideoPicTile('Bertille-Carmichael', '2')
  +linkToVideoPicTile('Lillian-Glover', '3')
  +linkToVideoPicTile('Ella-W-Johnson', '4')
  +linkToVideoPicTile('Rev-WL-Johnson', '5')
  +linkToVideoPicTile('Selena-O-Jones', '6')
  +linkToVideoPicTile('Kathleen-Mackey', '7')
  +linkToVideoPicTile('Jewel-Williams', '8')

  +interviewsMenuImg()

  +returnToMain()
