extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'CIVICLIFE'

block content

  include ../../includes/menu-community-spirit

  +linkToVideoPicTile('Karl-Banks', '1')
  +linkToVideoPicTile('Lillian-Glover', '2')
  +linkToVideoPicTile('John-R-Graham', '3')
  +linkToVideoPicTile('Ella-W-Johnson', '4')
  +linkToVideoPicTile('Bertha-Jones', '5')
  +linkToVideoPicTile('Luther-C-Jones', '6')
  +linkToVideoPicTile('Ruth-Luckett', '7')
  +linkToVideoPicTile('Sam-Whisenton', '8')

  +interviewsMenuImg()

  +returnToMain()
