extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'HOPES'

block content

  include ../../includes/menu-community-spirit

  +linkToVideoPicTile('Mary-Smith-Blackmon', '1')
  +linkToVideoPicTile('Clarice-Coney', '2')
  +linkToVideoPicTile('Pearl-Nichols', '3')
  +linkToVideoPicTile('Girtie-M-Saddler', '4')
  +linkToVideoPicTile('Alice-M-Scott', '5')
  +linkToVideoPicTile('Arthur-J-Tate-Sr', '6')
  +linkToVideoPicTile('Sam-Whisenton', '7')
  +linkToVideoPicTile('Frank-Williams-Jr', '8')

  +interviewsMenuImg()

  +returnToMain()
