extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'RACERELATIONS'

block content

  include ../../includes/menu-community-spirit

  +linkToVideoPicTile('Karl-Banks', '1')
  +linkToVideoPicTile('Ed-Blackmon', '2')
  +linkToVideoPicTile('John-R-Graham', '3')
  +linkToVideoPicTile('Pearl-Nichols', '4')
  +linkToVideoPicTile('Wilbert-Robinson', '5')
  +linkToVideoPicTile('Arthur-J-Tate-Sr', '6')
  +linkToVideoPicTile('Frank-Williams-Jr', '7')
  +linkToVideoPicTile('Jewel-Williams', '8')

  +interviewsMenuImg()

  +returnToMain()
