extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'ROLEMODELS'

block content

  include ../../includes/menu-community-spirit

  +linkToVideoPicTile('Sister-Thea', '3')
  +linkToVideoPicTile('Frank-Brown', '4')
  +linkToVideoPicTile('John-Garner', '5')
  +linkToVideoPicTile('Socrates-Garrett', '6')
  +linkToVideoPicTile('John-R-Graham', '7')
  +linkToVideoPicTile('Sam-Whisenton', '8')

  +interviewsMenuImg()

  +returnToMain()
