extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'ELECTED'

block content

  include ../../includes/menu-voting-victories

  +linkToVideoPicTile('Arthur-J-Tate-Sr', '1')
  +linkToVideoPicTile('Flonzie-Brown-Wright', '2')
  +linkToVideoPicTile('Jewel-Williams', '3')
  +linkToVideoPicTile('Karl-Banks', '4')
  +linkToVideoPicTile('Socrates-Garrett', '5')
  +linkToVideoPicTile('Alice-M-Scott', '6')
  +linkToVideoPicTile('JL-McCullough', '7')
  +linkToVideoPicTile('Ed-Blackmon', '8')

  +interviewsMenuImg()

  +returnToMain()
