extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'INTIMIDATION'

block content

  include ../../includes/menu-voting-victories

  +linkToVideoPicTile('Rims-Barber', '1')
  +linkToVideoPicTile('Ed-Blackmon', '2')
  +linkToVideoPicTile('Lucille-Williams', '3')
  +linkToVideoPicTile('Clarice-Coney', '4')
  +linkToVideoPicTile('Jewel-Williams', '5')
  +linkToVideoPicTile('Pearl-Nichols', '6')
  +linkToVideoPicTile('Jeannette-King', '7')
  +linkToVideoPicTile('Ed-King', '8')

  +interviewsMenuImg()

  +returnToMain()
