extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'POLITICAL'

block content

  include ../../includes/menu-voting-victories

  +linkToVideoPicTile('Frank-Brown', '2')
  +linkToVideoPicTile('Betty-Robinson', '3')
  +linkToVideoPicTile('Rims-Barber', '4')
  +linkToVideoPicTile('Sam-Whisenton', '5')
  +linkToVideoPicTile('John-Garner', '6')
  +linkToVideoPicTile('Rev-WL-Johnson', '7')
  +linkToVideoPicTile('Flonzie-Brown-Wright', '8')

  +interviewsMenuImg()

  +returnToMain()
