extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'THECIRCUIT'

block content

  include ../../includes/menu-voting-victories

  +linkToVideoPicTile('Ed-King', '1')
  +linkToVideoPicTile('Robert-Chinn', '2')
  +linkToVideoPicTile('Wilbert-Robinson', '3')
  +linkToVideoPicTile('Flonzie-Brown-Wright', '4')
  +linkToVideoPicTile('Jewel-Williams', '5')
  +linkToVideoPicTile('Carrie-Smoot', '6')
  +linkToVideoPicTile('Sara-Singleton', '7')
  +linkToVideoPicTile('James-Cheeks', '8')

  +interviewsMenuImg()

  +returnToMain()
