extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'VOTERREG'

block content

  include ../../includes/menu-voting-victories

  +linkToVideoPicTile('Betty-Robinson', '1')
  +linkToVideoPicTile('Clarice-Coney', '2')
  +linkToVideoPicTile('Charlie-Purnell', '3')
  +linkToVideoPicTile('Ed-King', '4')
  +linkToVideoPicTile('Ed-Blackmon', '5')
  +linkToVideoPicTile('Robert-Chinn', '6')
  +linkToVideoPicTile('Pearl-Nichols', '7')
  +linkToVideoPicTile('Frank-Williams-Jr', '8')

  +interviewsMenuImg()

  +returnToMain()
