extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'early-struggles'
  - var interviewsId = 'MADISONCOUNTY'
  - var videoId = 'Karl-Banks'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
