extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'ELECTED'
  - var videoId = 'Ed-Blackmon'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
