extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'community-spirit'
  - var interviewsId = 'ROLEMODELS'
  - var videoId = 'Sister-Thea'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
