extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'ASHARED'

block content

  include ../../includes/menu-family-ties

  +linkToVideoPicTile('Selena-O-Jones', '3')
  +linkToVideoPicTile('Leonell-Ellis', '4')
  +linkToVideoPicTile('Kathleen-Mackey', '5')
  +linkToVideoPicTile('Socrates-Garrett', '6')
  +linkToVideoPicTile('Newton-A-Handy-III', '7')
  +linkToVideoPicTile('Hurstine-Watts', '8')

  +interviewsMenuImg()

  +returnToMain()
