extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'FAMILYRULES'

block content

  include ../../includes/menu-family-ties

  +linkToVideoPicTile('Socrates-Garrett', '5')
  +linkToVideoPicTile('James-Jones-Jr', '6')
  +linkToVideoPicTile('Selena-O-Jones', '7')
  +linkToVideoPicTile('Jewel-Williams', '8')

  +interviewsMenuImg()

  +returnToMain()
