extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'FAMILYSTORIES'

block content

  include ../../includes/menu-family-ties

  +linkToVideoPicTile('Ruth-Luckett', '2')
  +linkToVideoPicTile('Ella-W-Johnson', '3')
  +linkToVideoPicTile('James-Jones-Jr', '4')
  +linkToVideoPicTile('Newton-A-Handy-III', '5')
  +linkToVideoPicTile('Bertille-Carmichael', '6')
  +linkToVideoPicTile('Hurstine-Watts', '7')
  +linkToVideoPicTile('Jewel-Williams', '8')

  +interviewsMenuImg()

  +returnToMain()
