extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'FAMILYTRAD'

block content

  include ../../includes/menu-family-ties

  +linkToVideoPicTile('Leonell-Ellis', '3')
  +linkToVideoPicTile('Oleta-G-Fitzgerald', '4')
  +linkToVideoPicTile('Phil-George', '5')
  +linkToVideoPicTile('Girtie-M-Saddler', '6')
  +linkToVideoPicTile('Arthur-J-Tate-Sr', '7')
  +linkToVideoPicTile('Hurstine-Watts', '8')

  +interviewsMenuImg()

  +returnToMain()
