extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'HOME'

block content

  include ../../includes/menu-family-ties

  +linkToVideoPicTile('Ella-W-Johnson', '2')
  +linkToVideoPicTile('Jewel-Williams', '3')
  +linkToVideoPicTile('James-Jones-Jr', '4')
  +linkToVideoPicTile('Ed-Blackmon', '5')
  +linkToVideoPicTile('Mary-Smith-Blackmon', '6')
  +linkToVideoPicTile('Hurstine-Watts', '7')
  +linkToVideoPicTile('John-Nichols', '8')

  +interviewsMenuImg()

  +returnToMain()
