extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'PARENTAL'

block content

  include ../../includes/menu-family-ties

  +linkToVideoPicTile('James-Jones-Jr', '1')
  +linkToVideoPicTile('Sam-Whisenton', '2')
  +linkToVideoPicTile('Ella-W-Johnson', '3')
  +linkToVideoPicTile('John-Nichols', '4')
  +linkToVideoPicTile('Frank-Brown', '5')
  +linkToVideoPicTile('Frank-Williams-Jr', '6')
  +linkToVideoPicTile('Flonzie-Brown-Wright', '7')
  +linkToVideoPicTile('Alice-M-Scott', '8')

  +interviewsMenuImg()

  +returnToMain()
