extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'business-success'
  - var interviewsId = 'THEHOLLOW'
  - var videoId = 'Luther-C-Jones'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
