extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'GOODFOOD'

block content

  include ../../includes/menu-agriculture-yields

  +linkToVideoPicTile('Frank-Brown', '2')
  +linkToVideoPicTile('Lucille-Williams', '3')
  +linkToVideoPicTile('Oleta-G-Fitzgerald', '4')
  +linkToVideoPicTile('James-Jones-Jr', '5')
  +linkToVideoPicTile('George-Washington', '6')
  +linkToVideoPicTile('Wilbert-Robinson', '7')
  +linkToVideoPicTile('Leonell-Ellis', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
