extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'HARDWORK'

block content

  include ../../includes/menu-agriculture-yields

  +linkToVideoPicTile('Hercules-A-Jones', '3')
  +linkToVideoPicTile('Carrie-Smoot', '4')
  +linkToVideoPicTile('Frank-Brown', '5')
  +linkToVideoPicTile('Lucille-Williams', '6')
  +linkToVideoPicTile('Oleta-G-Fitzgerald', '7')
  +linkToVideoPicTile('Phil-George', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
