extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'OWNINGLAND'

block content

  include ../../includes/menu-agriculture-yields

  +linkToVideoPicTile('Socrates-Garrett', '4')
  +linkToVideoPicTile('Newton-A-Handy-III', '5')
  +linkToVideoPicTile('Selena-O-Jones', '6')
  +linkToVideoPicTile('Hurstine-Watts', '7')
  +linkToVideoPicTile('JL-McCullough', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
