extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'SHARECROPPING'

block content

  include ../../includes/menu-agriculture-yields

  +linkToVideoPicTile('Wilbert-Robinson', '2')
  +linkToVideoPicTile('Phil-George', '3')
  +linkToVideoPicTile('Jewel-Williams', '4')
  +linkToVideoPicTile('Rims-Barber', '5')
  +linkToVideoPicTile('Ruth-Luckett', '6')
  +linkToVideoPicTile('Frank-Brown', '7')
  +linkToVideoPicTile('Ella-W-Johnson', '8')

  +interviewsMenuImg()

  +returnToMain()
