extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'THEFAIRGROUNDS'

block content

  include ../../includes/menu-agriculture-yields

  +linkToVideoPicTile('Oleta-G-Fitzgerald', '4')
  +linkToVideoPicTile('Melvene-Coney', '5')
  +linkToVideoPicTile('James-Jones-Jr', '6')
  +linkToVideoPicTile('Karl-Banks', '7')
  +linkToVideoPicTile('Lucille-Williams', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
