extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'THESAWMILLS'

block content

  include ../../includes/menu-agriculture-yields

  +linkToVideoPicTile('Luther-C-Jones', '2')
  +linkToVideoPicTile('Willie-L-Jones', '3')
  +linkToVideoPicTile('Pearl-Nichols', '4')
  +linkToVideoPicTile('Betty-Robinson', '5')
  +linkToVideoPicTile('Lucille-Williams', '6')
  +linkToVideoPicTile('Socrates-Garrett', '7')
  +linkToVideoPicTile('Hercules-A-Jones', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
