extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'intro-video'

block content
  
  img.vid-title(src="../assets/img/main/TAPESTRY_TITLE.jpg")

  +embedIntroVideo('intro/Tapestry-Of-Cultures.mov')

  include ../../includes/link-return-to-main
