html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

a,
a img {
  outline: none;
}

img {
  border: 0;
}

.wrapper {
  position: relative;
  width: 640px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
}

.credits-wrapper {
  width: 640px;
  height: 480px;
  overflow: hidden;
}

.home .wrapper { background-image: url('../img/main/BKGND_MAIN.jpg'); }
.intro-video .wrapper { background-image: url('../img/main/INTROMOVIE_BKGND.jpg'); }
.early-struggles .wrapper { background-image: url('../img/early-struggles/EARLY_BKGND.jpg'); }
.early-struggles.show-video .wrapper { background-image: url('../img/early-struggles/EARLY_VIDEO_BKGND.jpg'); }
.agriculture-yields .wrapper { background-image: url('../img/agriculture-yields/AGRICULTURE_BKGND.jpg'); }
.agriculture-yields.show-video .wrapper { background-image: url('../img/agriculture-yields/AG_VIDEO_BKGND.jpg'); }
.business-success .wrapper { background-image: url('../img/business-success/BUSINESS_BKGND.jpg'); }
.business-success.show-video .wrapper { background-image: url('../img/business-success/BUS_VIDEO_BKGND.jpg'); }
.school-days .wrapper { background-image: url('../img/school-days/SCHOOL_BKGND.jpg'); }
.school-days.show-video .wrapper { background-image: url('../img/school-days/SCHOOL_VIDEO_BKGND.jpg'); }
.freedom-triumphs .wrapper { background-image: url('../img/freedom-triumphs/FREEDOM_BKGND.jpg'); }
.freedom-triumphs.show-video .wrapper { background-image: url('../img/freedom-triumphs/FREE_VIDEO_BKGND.jpg'); }
.voting-victories .wrapper { background-image: url('../img/voting-victories/VOTING_BKGND.jpg'); }
.voting-victories.show-video .wrapper { background-image: url('../img/voting-victories/VOTING_VIDEO_BKGND.jpg'); }
.community-spirit .wrapper { background-image: url('../img/community-spirit/COMMUNITY_BKGND.jpg'); }
.community-spirit.show-video .wrapper { background-image: url('../img/community-spirit/COMM_VIDEO_BKGND.jpg'); }
.family-ties .wrapper { background-image: url('../img/family-ties/FAMILYTIES_BKGND.jpg'); }
.family-ties.show-video .wrapper { background-image: url('../img/family-ties/FAMILY_VIDEO_BKGND.jpg'); }

.intro-video .vid-title {
  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper__intro {
  position: absolute;
  left: 159px;
  top: 120px;
}

.fpo {
  border: 1px solid yellow;
}

.btn {
  display: block;
  position: absolute;
}

.btn-pic-tile {
  width: 75px;
  height: 75px;
  top: 313px;
  z-index: 2;
}

.btn-pic-tile.btn-pos-1 { left: 20px; }
.btn-pic-tile.btn-pos-2 { left: 95px; }
.btn-pic-tile.btn-pos-3 { left: 170px; }
.btn-pic-tile.btn-pos-4 { left: 245px; }
.btn-pic-tile.btn-pos-5 { left: 320px; }
.btn-pic-tile.btn-pos-6 { left: 395px; }
.btn-pic-tile.btn-pos-7 { left: 470px; }
.btn-pic-tile.btn-pos-8 { left: 545px; }

.btn-interview.btn-pos-1 { top: 75px; left: 320px; }
.btn-interview.btn-pos-2 { top: 119px; left: 320px; }
.btn-interview.btn-pos-3 { top: 163px; left: 320px; }
.btn-interview.btn-pos-4 { top: 75px; left: 470px; }
.btn-interview.btn-pos-5 { top: 119px; left: 470px; }
.btn-interview.btn-pos-6 { top: 163px; left: 470px; }

.btn-tapestry {
  width: 157px;
  height: 69px;
  top: 148px;
  left: 150px;
}

.btn-heritage {
  width: 170px;
  height: 69px;
  top: 148px;
  left: 321px;
}

.btn-credits {
  width: 117px;
  height: 46px;
  bottom: 0;
  left: 262px;
}

.interviews-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.interview-title-img,
.interview-video {
  display: none;
  position: absolute;
  z-index: 2;
}

.interview-title-img {
  top: 185px;
  left: 0;
}

.interview-video {
  top: 75px;
  left: 300px;
  width: 320px;
  height: 240px;
}

.btn-return-to-main {
  width: 110px;
  height: 52px;
  top: 0;
  right: 0;
}

.btn-select-another {
  width: 150px;
  height: 60px;
  top: 0;
  right: 95px;
}

.show-video .interview-title-img,
.show-video .interview-video,
.show-video .btn-select-another {
  display: block;
}

.show-video .btn-interview,
.show-video .btn-pic-tile,
.show-video .interviews-menu,
.btn-select-another {
  display: none;
}