extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'THEFAIRGROUNDS'
  - var videoId = 'Lucille-Williams'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
