extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'agriculture-yields'
  - var interviewsId = 'SHARECROPPING'
  - var videoId = 'Jewel-Williams'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
