//- GLOBAL
//---------------------------------------------------
- var thisVersion = "1.0.0"

//- MIXINS
//---------------------------------------------------
include ../includes/mixins

block vars
  - var assetPath = ''
  - var sectionId = 'home'
  - var showVideo = false

if showVideo
  - var bodyClass = sectionId + ' show-video'
else
  - var bodyClass = sectionId

doctype transitional
html(lang="en")

  head
    title Canton Kiosk
    link(href=assetPath + "assets/css/styles.css?v=" + thisVersion, rel="stylesheet", type="text/css")
    meta(name="robots", content="noindex, nofollow")
    != headJs

  body(class=bodyClass)

    .wrapper

      block content
