extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'FAMILYRULES'
  - var videoId = 'James-Jones-Jr'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
