extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'voting-victories'
  - var interviewsId = 'VOTERREG'
  - var videoId = 'Clarice-Coney'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
