extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'PARENTAL'
  - var videoId = 'Sam-Whisenton'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
