extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'THEMADISON'
  - var videoId = 'Tougaloo-College'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
