extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'early-struggles'
  - var interviewsId = 'KEEPINGTHEFAITH'
  - var videoId = 'Leonell-Ellis'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
