extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'ANEWDAY'
  - var videoId = 'Breaking-Barriers'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
