extends ../../../layouts/_layout

block vars
  - var assetPath = '../../'
  - var sectionId = 'family-ties'
  - var interviewsId = 'FAMILYSTORIES'
  - var videoId = 'Ella-W-Johnson'
  - var showVideo = true

block content

  include ../../../includes/block-interview-video
