extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'ANEWDAY'

block content

  include ../../includes/menu-freedom-triumphs

  +linkToVideoPicTile('Breaking-Barriers', '4')
  +linkToVideoPicTile('Dignity-and-Pride', '5')
  +linkToVideoPicTile('Jobs', '6')
  +linkToVideoPicTile('Opportunities', '7')
  +linkToVideoPicTile('Head-Start', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
