extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'LOCALHEROES'

block content

  include ../../includes/menu-freedom-triumphs

  +linkToVideoPicTile('CO-Chinn', '4')
  +linkToVideoPicTile('Annie-Devine', '5')
  +linkToVideoPicTile('Father-Luke-Mikschl', '6')
  +linkToVideoPicTile('George-Washington', '7')
  +linkToVideoPicTile('Many-Helpers', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
