extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'THEDAYSOF'

block content

  include ../../includes/menu-freedom-triumphs

  +linkToVideoPicTile('Clarice-Coney', '1')
  +linkToVideoPicTile('John-Graham', '2')
  +linkToVideoPicTile('JL-McCullough', '3')
  +linkToVideoPicTile('Sam-Whisenton', '4')
  +linkToVideoPicTile('Melvene-Coney', '5')
  +linkToVideoPicTile('Frank-Brown', '6')
  +linkToVideoPicTile('Sara-Singleton', '7')
  +linkToVideoPicTile('Wilbert-Robinson', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
