extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'THEMADISON'

block content

  include ../../includes/menu-freedom-triumphs

  +linkToVideoPicTile('Individual-Involvement', '2')
  +linkToVideoPicTile('Church-Involvement', '3')
  +linkToVideoPicTile('Civil-Rights-Workers', '4')
  +linkToVideoPicTile('Tougaloo-College', '5')
  +linkToVideoPicTile('Job-Threats', '6')
  +linkToVideoPicTile('The-Selective-Buying', '7')
  +linkToVideoPicTile('Oh-Freedom', '8')

  +interviewsMenuImg(interviewsId)

  +returnToMain()
