extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'THENIGHTOF'

block content

  include ../../includes/menu-freedom-triumphs

  +linkToVideoPicTile('Night-of-the-Tear-Gas', '8')

  +interviewsMenuImg()

  +returnToMain()
