extends ../../layouts/_layout

block vars
  - var assetPath = '../'
  - var sectionId = 'freedom-triumphs'
  - var interviewsId = 'VIOLENCE'

block content

  include ../../includes/menu-freedom-triumphs

  +linkToVideoPicTile('John-R-Graham', '2')
  +linkToVideoPicTile('Robert-Chinn', '3')
  +linkToVideoPicTile('James-Cheeks', '4')
  +linkToVideoPicTile('Willie-L-Jones', '5')
  +linkToVideoPicTile('Hercules-A-Jones', '6')
  +linkToVideoPicTile('Jewel-Williams', '7')
  +linkToVideoPicTile('George-Washington', '8')

  +interviewsMenuImg()

  +returnToMain()
